* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.login {
    background-color: rgb(10,145,171);
    height: 500px;
    width: 700px;
    overflow-y: auto;
}

input {
    width: 250px;
    float: right;
    margin-right: 30%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
}

button {
    width: 250px;
    float: right;
    margin-right: 30%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.button {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 270px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
}

.button2 {
    padding: 10px;
    bottom: 0;
    margin-top: 70px;
    font-weight: bold;
    margin-left: 25%;
    margin-right: 24%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, 40%);
    text-align: center;
    height: 500px;
    box-shadow: 3px 4px 30px 1px rgba(0,0,0,0.65);
}

img {
    width: 500px;
}

label {
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    color: rgb(248, 191, 72);
}

.distanciar {
    margin-bottom: 40px;
}

a.button2:visited {
    color: rgb(248, 191, 72);
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100px;
    color: white;
}

.middle p{
    color: rgb(248, 191, 72);
    font-size: 50px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.erro {
    color: red;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5px;
}

.error1 {
    color: red;
    margin-left: 30%;
    margin-right: 20%;
    margin-bottom: 5px;
}

.fundo {
    background-image: url(../imagens/221b.jpg);
    position: fixed;
    width: 100%;
    height: 100%;   
    background-position: center 30%;
}

.bv {
    border-radius: 10px;
    width: 120%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.2);
}
