* {
    margin: 0;
    padding: 0;
}
  
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 40px;
    padding-top: 5%;
}

input {
    width: 500px;
    float: right;
    margin-right: 10%;
    margin-left: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 225px;
    height: 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
}

.alinhar {
    text-align: center;
}

#AdiApont {
	position: absolute; 
	left: 550px; 
	top: 350px; 
	}

#Logioutchi {
    position: absolute; 
    top: 0px;
    right: 0px;
        }
#tit {
    position: absolute; 
    top: 250px;
    right: 450px;
    color: rgb(6, 84, 113);
      }        
    