* {
    margin: 0;
    padding: 0;
}
  
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 55%;
    border: none;
    padding: 50px;
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: white;
    margin-top: 10px;
    overflow-y: auto;
    box-shadow: 3px 4px 30px 1px rgba(0,0,0,0.65);
}

.inputcontainer {
    width: 100%;
}

label {
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

input {
    width: 500px;
    height: 20px;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    border: none;
}

input[type=file] {
    width: auto;
}

.button {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 225px;
    height: 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    color: rgb(6,84,113);

}

#Logioutchi {
    position: absolute; 
    top: 0px;
    right: 0px;
}

.tit {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(6, 84, 113);
}        

.erros {
    color: red;
    margin-left: 30%;
    margin-right: 30%;
}

.buttonadd {
    position: absolute; 
    left: 50%;
	top: 15%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    font-weight: bold;
    z-index: 2;
    border-color: rgb(10,145,171);
}

.buttonadd:hover {
    background-color: rgb(10,145,171);
}
    
.buttonadd1 {
    position: relative; 
	top: 85%; 
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid;
    font-weight: bold;
    margin-bottom: 10px;
    border-color: rgb(10,145,171);
}

.buttonadd1:hover {
    background-color: rgb(10,145,171);
}

.buttondel {
    position: absolute; 
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    float: right;
    margin-top: 210px;
    transform: translate(-100%, 0);
}

.buttondel:hover {
    background-color: red;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */

}
  
ul li {
    background-color: #f6f6f6; /* Add a grey background color */
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 6%;
    width: 820px;
    height: 250px;
    border: none;
    border-radius: 10px;
    margin-top: -4%;
}

h4 {
    display: inline-block;
}

.apt {
    margin-top: -2%;
}

.edit {
    margin-left: 240%;
    z-index: 10;
    color: rgb(10,145,171);
    transform: translate(-80px,213px);
}